@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:'Roboto' , 'sans-serif';
  overflow:hidden;
}

.main-header{
  background: #68c0e0;
  width: 100%;
  height:50px;
}

nav{
  position: absolute;
  left:0;
  top:0;
  width: 250px;
  top:50px;
  height:calc(100vh - 50px);
  background:#68cdf5;
  transform:translateX(-100%);
  transition:.4s ease;
}

.navigation li{
  list-style:none;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.navigation a{
  color:var(--main-color);
  display: block;
  line-height:3.5;
  padding: 0 10px;
  text-decoration:none;
  transition:.4s ease;
}

.navigation a:hover{
  transform:translateX(10%);
}

#btn-nav{
  display: none;
}

#btn-nav:checked ~ nav{
  transform:translateX(0);
}

#btn-nav:checked ~ .topicList {
  transform:translateX(-80%);
}

.btn-nav{
  color:var(--main-color);
  font-size:30px;
  position: absolute;
  left: 20px;
  top: 10px;
  cursor:pointer;
  padding: 1px;
  transition:.2s ease;
  background:rgba(0,0,0,.1);
  border-radius: 20%;
}

.btn-nav:hover{
  background:rgba(38, 30, 30, 0.3);
}

#__next {
  height: 100%;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: .55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}

.navbar-user-mobile {
  border-radius: 10%;
}

.container {
  max-width: 100% !important;
}
